<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<title>XXXシステム</title>
	<meta charset="UTF-8">
	<link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
	<div th:include="commons/header :: frag_header"></div>
	<div class="box">
	<h2>ログイン認証</h2>
	<form role="form" id="login" th:action="@{/login}" method="post">
		<div th:if="${iserror}" style="color:red;">ログインできませんでした。やり直してください。</div>
		<table>
			<tr>
				<th>User ID</th>
				<td><input type="text" id="username" name="username" autofocus="autofocus" class="loginInput"/></td>
			</tr>
			<tr>
				<th>Password</th>
				<td><input type="password" id="password" name="password" class="loginInput"/></td>
			</tr>
		</table>
		<br/>
		<button type="submit" class="loginBtn">LOGIN</button>
	</form>
</div>
<div th:include="commons/footer :: frag_footer"></div>
</body>
</html>