<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorator="~{commons/layout}">
<head>
  <title>xxxシステム</title>
</head>
<body>
<div layout:fragment="commons/header">ヘッダー</div>
<div layout:fragment="commons/menu">メニュー</div>
<div layout:fragment="contents" id="content">
<div class="box">
<h3>商品一覧</h3>
 	<p th:text="${msg}"></p>
 	<form th:action="@{/itemCre}" method="post"><button type="submit" id="cre" class="">商品新規登録</button></form>
 	<table>
 		<tr class="hd2">
 			<th>No.</th>
 			<th>商品コード</th>
 			<th>商品名</th>
 			<th>商品区分</th>
 			<th>仕様</th>
 			<th>単価</th>
 			<th>取扱可否</th>
 			<th>変更</th>
 		</tr>
 		<tr th:each="item,itemCnt:${itemList}" class="row">
 			<td th:text="${itemCnt.count}" class="c0"/>
 			<td th:text="${item.itemCode}" class="c4"/>
  			<td th:text="${item.itemName}" class="c3"/>
  			<td th:text="${item.mtItemGenre.itemGenreName}" class="c3"/>
  			<td th:text="${item.spec}" class="c3"/>
  			<td th:text="${item.price}" class="c3"/>
  			<td><div th:if="${item.validity}">取扱可</div><div th:unless="${item.validity}">取扱不可</div></td>
  			<td><form th:action="@{'/itemUpd/'+${item.itemCode}}" method="get"><button type="submit" id="upd" class="">変更</button></form></td>
 		</tr>
 	</table>
</div>
</div>
<div layout:fragment="commons/footer">フッター</div>
</body>
</html>