<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorator="~{commons/layout}">
<head>
  <title>xxxシステム</title>
</head>
<body>
<div layout:fragment="commons/header">ヘッダー</div>
<div layout:fragment="commons/menu">メニュー</div>
<div layout:fragment="contents" id="content">
<div class="box">
<h3>商品登録</h3>
 	<p th:text="${msg}"></p>
 	<form role="form" id="itemCreConf" th:action="@{/itemCreConf}" th:object="${formModel}" method="post">
	 	<table>
	 		<tr>
	 			<th>商品コード</th>
	 			<td><input type="text" name="itemCode" th:value="*{itemCode}" th:errorclass="err" placeholder="1～8文字"/></td>
	 			<td><div th:if="${#fields.hasErrors('itemCode')}" th:errors="*{itemCode}" th:errorclass="err"></div></td>
	 		</tr>
	 		<tr>
	 			<th>商品名</th>
	 			<td><input type="text" name="itemName" th:value="*{itemName}" th:errorclass="err" placeholder="必須入力"/></td>
	 			<td><div th:if="${#fields.hasErrors('itemName')}" th:errors="*{itemName}" th:errorclass="err"></div></td>
	 		</tr>
	 		<tr>
	 			<th>商品区分</th>
	 			<td>
	 				<select id="mtItemGenre" name="mtItemGenre" size="1">
	 					<option th:each="itemGenre:${itemGenreList}" th:value="${itemGenre.itemGenreCode}" th:inline="text">[[${itemGenre.itemGenreName}]]</option>
	 				</select>
	 			</td>
	 		</tr>
	 		<tr>
	 			<th>仕様</th>
	 			<td><input type="text" name="spec" th:value="*{spec}"/></td>
	 		</tr>
	 		<tr>
	 			<th>単価</th>
	 			<td><input type="text" name="price" th:value="*{price}" th:errorclass="err" placeholder="必須入力"/></td>
	 			<td><div th:if="${#fields.hasErrors('price')}" th:errors="*{price}" th:errorclass="err"></div></td>
	 		</tr>
	 		<tr>
 				<th>取扱可否</th>
 				<td>
 					<input type="radio" name="validity" th:value="true" th:field="*{validity}" th:text="取扱可"/>
 					<input type="radio" name="validity" th:value="false" th:field="*{validity}" th:text="取扱不可"/>
 				</td>
 			</tr>	
	 	</table>
	 	<button type="submit" class="menuBtn">登録確認へ</button>
 	</form>
</div>
</div>
<div layout:fragment="commons/footer">フッター</div>
</body>
</html>