<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorator="~{commons/layout}">
<head>
  <title>xxxシステム</title>
</head>
<body>
<div layout:fragment="commons/header">ヘッダー</div>
<div layout:fragment="commons/menu">メニュー</div>
<div layout:fragment="contents" id="content">
<div class="box">
<h3>顧客変更</h3>
 	<p th:text="${msg}"></p>
 	<form role="form" id="customerUpdConf" th:action="@{/customerUpdConf}" th:object="${formModel}" method="post">
	 	<table>
	 		<tr>
	 			<th>顧客コード</th>
				<td class="left" th:text="*{customerCode}"/>
	 		</tr>
	 		<tr>
	 			<th>顧客名</th>
	 			<td><input type="text" name="customerName" th:value="*{customerName}"/></td>
	 		</tr>
	 		<tr>
 				<th>取引可否</th>
 				<td>
 					<input type="radio" name="validity" th:value="true" th:field="*{validity}" th:text="取引可"/>
 					<input type="radio" name="validity" th:value="false" th:field="*{validity}" th:text="取引不可"/>
 				</td>
 			</tr>
	 	</table>
	 	<button type="submit" class="menuBtn">登録確認へ</button>
 	</form>
</div>
</div>
<div layout:fragment="commons/footer">フッター</div>
</body>
</html>